*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  font-family: $ff-manrope, Arial, $sans-serif;
  font-size: $fs-body;
  min-height: 100vh;
  line-height: 1.6;
  background: $clr-very-dark no-repeat;
  margin-bottom: 3rem;
}

// .warpper {
//   max-width: 1110px; // 20px smaller, to fit the paddings on the sides
//   padding-left: 24px;
//   padding-right: 24px;
// }

.container {
  margin-right: auto;
  margin-left: auto;
  /* for edge cases: */
  @include for-phone {
    max-width: 87vw;
  }
  @include for-tablet {
    max-width: 75vw;
  }
  max-width: 1110px;
}

img {
  max-width: 100%;
}
