// Typography
h1 {
  font-size: $fs-400;
  font-weight: $fw-800;
  line-height: 2.5rem;
  color: $clr-white;
  span {
    color: $clr-cyan;
  }
  @include for-tablet {
    font-size: clamp(2rem, 3vw, 3rem);
  }
  @include for-desktop {
    line-height: 3.5rem;
  }
}

h2 {
  font-size: $fs-h2;
  color: $clr-white;
}

h3 {
  font-size: $fs-300;
  font-weight: $fw-800;
  color: $clr-white;
  margin-bottom: 0.7rem;
}

p {
  font-weight: $fw-400;
  color: $clr-blue-loo;
}

h1 {
  margin-bottom: 1rem;
}
