// Hero Section
.hero {
  @include for-tablet {
    position: relative;
    display: flex;
    justify-content: center;
  }

  text-align: center;
  &__content {
    overflow: hidden;
    @include for-tablet {
      position: absolute;
      top: 0;
    }
    @include for-tablet {
      background: url(../assets/bg-hero-squiggle.svg) no-repeat;
      background-size: contain;
      background-position: center 30%;
      max-width: clamp(28.5rem, 40vw, 47rem);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__descripe {
    color: $clr-blue-loo;
    margin-bottom: 4rem;
  }
}

// Hero Cover
.hero {
  &__cover {
    img {
      @include for-tablet {
        opacity: 0;
      }
    }
  }
  &::before {
    @include for-tablet {
      content: "";
      position: absolute;
      inset: 0; // shorthand top right bottom left
      background: url(../assets/illustration-hero-left.svg) no-repeat;
      left: 0;
      top: 0;
      bottom: 0;
      background-position: -166px top;
      z-index: -1;
      background-size: contain;
      width: 314px;
    }
  }

  &::after {
    @include for-tablet {
      content: "";
      position: absolute;
      background: url(../assets/illustration-hero-right.svg) no-repeat;
      background-position: 166px top;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-size: contain;
      width: 314px;
    }
  }
}
