.sign-up-warpper {
  margin-top: 120px;
  h2 {
    background: url(../../starter-code/assets/bg-footer-squiggle.svg) no-repeat;
    background-size: cover;
    background-position-x: center;
    text-align: center;
    margin-bottom: 1rem;
  }
}
