//Variables

//Colors
// Primary
$clr-cyan: hsl(179, 80%, 58%);
$clr_blue-dark: hsl(206, 84%, 22%);
$clr-blue-loo: hsl(225, 14%, 53%);
// Natural
$clr-very-dark: hsl(230, 60%, 8%);
$clr-red: hsl(343, 100%, 58%);
$clr-white: #fff;

// Font-size
$fs-body: 0.9375rem;
$fs-600: 3rem;
$fs-500: 2.5rem;
$fs-400: 2rem;
$fs-h2: 1.5rem;
$fs-300: 1.125rem;

// Font-Family
$ff-manrope: "Manrope";
$sans-serif: sans-serif;

// Font-Weights
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-800: 800;

// Screen break-points
$phone: 767px;
$tablet: 768px;
$desktop: 1200px;
$desktop-large: 1400px;
